# Data Cleaning

In [68]:
import pandas as pd

In [130]:
import os

os.listdir()

['.DS_Store',
 'users.csv',
 'posts.csv.gzip',
 'data-cleaning-lab.ipynb',
 '.ipynb_checkpoints']

# Read the users dataset.

Take a look at what is the `users.csv` separator.

In [315]:
df  = pd.read_csv('users.csv', sep ='#')

## Check its shape

See the number of rows and columns you're dealing.

## Use the .head() to see some rows of your dataframe.

In [316]:
df.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

## Get the data info. 

Which columns have a great number of missing values? How many space does this dataframe is occupying in your memory?

In [317]:
df_null = df.isnull().sum()

# df_null

df.isnull().any()

Id                 False
Reputation         False
CreationDate       False
DisplayName         True
LastAccessDate     False
WebsiteUrl          True
Location            True
AboutMe             True
Views              False
UpVotes            False
DownVotes          False
AccountId          False
Age                 True
ProfileImageUrl     True
dtype: bool

## Rename Id column to user_id.

Remember to store you results back at the dataframe.

In [318]:
# df = df.rename(columns= {0:'novo'})

df = df.rename(columns = {'Id': 'user_id'})

df

,user_id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40498,6726,1,2011-10-09 13:16:20,AlexAtStack,2012-05-18 09:32:44,NaN,NaN,NaN,0,0,0,203972,NaN,NaN
40499,53426,101,2014-08-05 07:54:54,John J. Camilleri,2014-08-05 08:54:37,http://johnjcamilleri.com,"Gothenburg, Sweden","<p>Accidental computational linguist, de facto...",1,2,0,34865,28.0,https://www.gravatar.com/avatar/5738c02070833b...
40500,21468,101,2013-03-02 07:50:03,Peter L.,2013-03-02 07:50:03,http://www.a1qa.com/,"Minsk, Belarus","<p>QA Manager with comprehensive, cold-blooded...",1,0,0,2211454,32.0,http://www.gravatar.com/avatar/cbd80a5b2a5257d...
40501,54132,1,2014-08-15 10:52:25,user54132,2014-08-15 10:52:25,NaN,NaN,NaN,1,0,0,4894117,NaN,NaN
40502,39943,1,2014-02-10 20:55:19,user1133128,2014-02-10 20:55:19,NaN,NaN,NaN,0,0,0,1151526,NaN,https://www.gravatar.com/avatar/8e983e68f44d99...

# Import the `posts.csv` dataset.

Note that this is a `gzip compressed csv`. In order to read this file correctly, you'll have to read the documentation (or help) of your `pd.read_csv()` function and check the `compression` argument. Try to understand which value of `compression=...` you should put in order to read your dataframe.

In [319]:
dfpost = pd.read_csv('posts.csv.gzip', sep = ',', compression='gzip')

## Perform the same as above to understand a bit of your data (head, info, shape)

In [320]:
dfpost.head()
dfpost.info()
dfpost.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  object
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   OwnerUserId            90584 non-null  float64
 8   LasActivityDate        91976 non-null  object
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  object
 16  CommunityOwnedDate     2467 non-null   object
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   object
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: float64(7), int64(4), object(10)
memory usage: 14.7+ MB

(91976, 21)

## Rename Id column to post_id and OwnerUserId to user_id.

Again, remember to check that your results are correctly stored inside the dataframe.

In [321]:
dfpost = dfpost.rename(columns = {'Id':'post_id', 'OwnerUserId':'user_id'})
dfpost

,post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,NaN,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaN,115367.0,NaN,NaN,NaN
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaN,NaN,NaN,NaN,NaN
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,NaN,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaN,115358.0,NaN,NaN,NaN
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115375.0,NaN,NaN,NaN

## Define new dataframes for users and posts with the following selected columns:

**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount, Body

In [322]:
dfpost1 = dfpost[['post_id','Score', 'user_id', 'ViewCount', 'CommentCount', 'Body' ]]
df1 = df[['user_id','Reputation', 'Views', 'UpVotes', 'DownVotes']]

**Note:** Check the new posts dataframe's info. What is the most noticeable change? 

Explain why we have chosen only some columns of it in terms of efficiency.

# Merge the new dataframes you have created, of users and posts. Create a dataframe called `posts_from_users`

You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes. 

Think carefully which should be the key(s) for your merging.

In [323]:
df_merge = pd.merge(left = df1, right = dfpost1, on = 'user_id', suffixes=('_user', '_post'))

df_merge

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,NaN,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,NaN,0,NaN
2,-1,1,0,5007,1920,8578,0,NaN,0,NaN
3,-1,1,0,5007,1920,8981,0,NaN,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,NaN,0,This generic tag is only rarely suitable; use ...
...,...,...,...,...,...,...,...,...,...,...
90878,55734,1,0,0,0,115352,0,16.0,0,"<p>For example, I was looking at <a href=""http..."
90879,55738,11,0,0,0,115360,2,40.0,4,<p>Is Student's t test a Wald test?</p>\n\n<p>...
90880,55742,6,0,0,0,115366,1,17.0,0,<p>Does any standard statistical software like...
90881,55744,6,1,0,0,115370,1,13.0,2,<p>im analyzing an article for my studies with...
90882,55746,106,1,0,0,115376,1,5.0,2,<p>My goal is to create a formula that can giv...

## Check the number of duplicated rows.

Remember you can sum the results of a mask to get how many numbers the True value appeared in the results. This occurs because `True` is interpreted as `1` in Python whereas `False` is interpreted as `0`.

In [325]:
df_merge['user_id'].duplicated()

0        False
1         True
2         True
3         True
4         True
         ...
90878    False
90879    False
90880    False
90881    False
90882    False
Name: user_id, Length: 90883, dtype: bool

## Find those duplicate values and try to understand what happened.

*Hint:* You can use the argument `keep=False` from the `.duplicated()` method to bring the duplication.

*Hint 2:* You can sort the values `by=['user_id', 'post_id']` to see them in order.

In [328]:
df_merge.sort_values(['user_id','post_id'], ascending = True)

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,NaN,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,NaN,0,NaN
2,-1,1,0,5007,1920,8578,0,NaN,0,NaN
3,-1,1,0,5007,1920,8981,0,NaN,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,NaN,0,This generic tag is only rarely suitable; use ...
...,...,...,...,...,...,...,...,...,...,...
90878,55734,1,0,0,0,115352,0,16.0,0,"<p>For example, I was looking at <a href=""http..."
90879,55738,11,0,0,0,115360,2,40.0,4,<p>Is Student's t test a Wald test?</p>\n\n<p>...
90880,55742,6,0,0,0,115366,1,17.0,0,<p>Does any standard statistical software like...
90881,55744,6,1,0,0,115370,1,13.0,2,<p>im analyzing an article for my studies with...
90882,55746,106,1,0,0,115376,1,5.0,2,<p>My goal is to create a formula that can giv...

## Should you drop it? If you think it is reasonable to drop it, then drop it.

Think: How would you correct it in the first place? That is, what was wrong in the first place?

*Hint:* There's a pandas method to drop duplicates. If you wanted to do it by hand, you could select the indexes of the duplicated values and `.drop()` it.

In [330]:

remove_duplicate = df_merge.drop_duplicates(subset=['user_id', 'post_id'])

## 10. How many missing values do you have in your merged dataframe? On which columns?

In [334]:
remove_duplicate.isnull().sum()

#3921

remove_duplicate

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,NaN,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,NaN,0,NaN
2,-1,1,0,5007,1920,8578,0,NaN,0,NaN
3,-1,1,0,5007,1920,8981,0,NaN,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,NaN,0,This generic tag is only rarely suitable; use ...
...,...,...,...,...,...,...,...,...,...,...
90878,55734,1,0,0,0,115352,0,16.0,0,"<p>For example, I was looking at <a href=""http..."
90879,55738,11,0,0,0,115360,2,40.0,4,<p>Is Student's t test a Wald test?</p>\n\n<p>...
90880,55742,6,0,0,0,115366,1,17.0,0,<p>Does any standard statistical software like...
90881,55744,6,1,0,0,115370,1,13.0,2,<p>im analyzing an article for my studies with...
90882,55746,106,1,0,0,115376,1,5.0,2,<p>My goal is to create a formula that can giv...

## Select only the rows in which there at least some missing values.

In [335]:
rm = remove_duplicate.isnull().any(1)

remove_duplicate[rm]

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,NaN,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,NaN,0,NaN
2,-1,1,0,5007,1920,8578,0,NaN,0,NaN
3,-1,1,0,5007,1920,8981,0,NaN,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,NaN,0,This generic tag is only rarely suitable; use ...
...,...,...,...,...,...,...,...,...,...,...
90817,55605,1,2,0,0,115106,0,NaN,0,"<p>Recasting this as a time-to-event problem, ..."
90820,55609,1,1,0,0,115115,2,NaN,0,"<p>This is my favourite:</p>\n\n<p>""To be sure..."
90827,55621,1,1,0,0,115213,0,NaN,0,<p>Here is the part that explains answer to yo...
90835,55637,26,4,0,0,115170,1,NaN,0,"<p>When you say class, I hope you mean 'output..."
90874,55729,16,1,0,0,115338,0,NaN,0,<p>All items are not solved fully correctly in...

In [343]:

count_na = remove_duplicate.loc[rm,:]

cond1 = count_na['CommentCount'] > 0 
cond2 = count_na['CommentCount'] > 0 

count_na[cond1 & cond2]

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
212,5,6792,1145,662,5,12,20,NaN,1,"<p>See my response to <a href=""http://stackove..."
216,5,6792,1145,662,5,76,22,NaN,3,"<p>I use <a href=""http://cran.r-project.org/we..."
220,5,6792,1145,662,5,108,14,NaN,1,"<p><a href=""http://www.informationisbeautiful...."
222,5,6792,1145,662,5,126,26,NaN,4,"<p>My favorite is <a href=""http://www.amazon.c..."
224,5,6792,1145,662,5,139,21,NaN,2,"<p>If I had to choose one thing, make sure tha..."
...,...,...,...,...,...,...,...,...,...,...
90751,55494,11,0,0,0,114899,1,NaN,1,<p>The short answer is that it depends on your...
90755,55501,1,0,0,0,114914,0,NaN,1,"<p>Yes, it's straightforward. The weak LP is w..."
90793,55562,1,0,0,0,115031,0,NaN,1,<p>Further to my previous note - I'd just like...
90796,55570,1,0,0,0,115046,0,NaN,2,<p>here is the actual code behind these parame...
90798,55574,21,1,0,0,115056,2,NaN,1,<p>Which to use depends on the level of statis...

## You will need to make something with missing values.  Will you clean or filling them? 

Pay attention. There can be different reasons for the missings numbers. Look at the `user_id` of some of them, look at the body of the message. Which ones you're sure of what should be and which one can you infer? Don't hurry up, take a look at your data.

In [314]:
df_merge.drop(columns='ViewCount')

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,0,NaN
2,-1,1,0,5007,1920,8578,0,0,NaN
3,-1,1,0,5007,1920,8981,0,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,0,This generic tag is only rarely suitable; use ...
...,...,...,...,...,...,...,...,...,...
90878,55734,1,0,0,0,115352,0,0,"<p>For example, I was looking at <a href=""http..."
90879,55738,11,0,0,0,115360,2,4,<p>Is Student's t test a Wald test?</p>\n\n<p>...
90880,55742,6,0,0,0,115366,1,0,<p>Does any standard statistical software like...
90881,55744,6,1,0,0,115370,1,2,<p>im analyzing an article for my studies with...
90882,55746,106,1,0,0,115376,1,2,<p>My goal is to create a formula that can giv...

In [312]:
count_na.describe()

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount
count,3921.000000,3921.000000,3921.000000,3921.000000,3921.000000,3921.000000,3921.000000,0.0,3921.000000
mean,22897.177506,370.505483,53.149452,39.241520,2.025249,54192.970416,2.368018,NaN,1.147156
std,16053.277989,2384.918837,472.485659,368.738622,35.366444,33915.565728,5.484020,NaN,1.874241
min,-1.000000,1.000000,0.000000,0.000000,0.000000,9.000000,-7.000000,NaN,0.000000
25%,8772.000000,11.000000,1.000000,0.000000,0.000000,24010.000000,0.000000,NaN,0.000000
50%,20945.000000,41.000000,3.000000,0.000000,0.000000,52613.000000,1.000000,NaN,0.000000
75%,35858.000000,141.000000,11.000000,4.000000,0.000000,82244.000000,3.000000,NaN,2.000000
max,55729.000000,87393.000000,20932.000000,11442.000000,1920.000000,115338.000000,129.000000,NaN,24.000000

## Adjust the data types in order to avoid future issues. Which ones should be changed?

# Bonus 1: (filtering) What is the average number of comments for users who are above the average reputation?

*Hint:* Calculate the average of the user Reputation. Store it in a variable called `avg_reputation` and then use that variable for filtering the dataset and generating the results for each case (for the case in which `Reputation > {avg_reputation}` and etc.

*Hint 2:* You could create a variable based on that condition and use the group by function perform the task above.

# Bonus 2: (grouping) Group your dataframe by the Reputation of your user. Calculate the mean value of ViewCount and CommentCount for each reputation value.

Suppose the missing values on ViewCount are due a systemic error and you wanted to guess what values should have been there in the first place, but the system abended.

Would that be an interesting candidate for inputting the value for the missing `ViewCount` values? If so, input it with these values.

## refs

Sample database used: https://relational.fit.cvut.cz/dataset/Stats

Stack-overflow database: https://www.brentozar.com/archive/2015/10/how-to-download-the-stack-overflow-database-via-bittorrent/